<div class="container p-3 d-flex flex-column align-items-center justify-content-center">

    <form class="mb-2 d-flex align-items-center">
        <input class="form-control"
        type="text" placeholder="Filter by name" #filter (keyup)="filterContacts(filter.value)">
    </form>

    <a class="btn btn-primary my-2" routerLink="add">
        Add
    </a>
    
    <ul class="list-group list-group-flush fit-content">
    @for (contact of filteredContactList; track contact.id) {
        <li class="list-group-item bg-light px-5">
            <a class="btn text-primary" [routerLink]="['/details', contact.id]">{{contact.name}}</a>
        </li>
    }
    </ul>
    
    
</div>

