/* You can add global styles to this file, and also import other style files */
.fit-content{
    width: fit-content;
}

.pre-line{
    white-space: pre-line;
}

.bold{
    font-weight: 700;
}

.bold-light{
    font-weight: 600;
}
